.csvParser{
    margin-top: 20px
}

.table{
    border: 1px solid black;
    
    margin-top: 10px;
    border-collapse: collapse;
}

.table-header{
    background-color: #A3AFC8;
}

.header-items {
    padding: 10px;
    text-align: center;
  }

.row-items{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}